[submodule "ui"]
	path = ui
	url = https://github.com/UniqueNetwork/unique-marketplace/
	branch = v0.1-light
[submodule "web-api"]
	path = web-api
	url = https://github.com/UniqueNetwork/unique-marketplace-api/
	tag = v0.1-light
[submodule "escrow-unique"]
	path = escrow-unique
	url = https://github.com/UniqueNetwork/unique-marketplace-escrow/
	tag = v0.3
[submodule "escrow-kusama"]
	path = escrow-kusama
	url = https://github.com/UniqueNetwork/unique-marketplace-escrow-kusama/
	tag = v0.3
