[submodule "ui"]
	path = ui
	url = https://github.com/usetech-llc/marketplace.git
	branch = develop
[submodule "backend"]
	path = backend
	url = https://github.com/usetech-llc/marketplace_backend.git
	branch = feature/easy_start
